.navbar {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: inline-block;
  width: 62.56px;
  height: 16.02px;
  margin-right: 70px;
}

.navbar__nav {
  display: flex;
  gap: 45px;
  flex: 1;

  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.navbar__nav a:hover {
  color: var(--blue-text-color);
}

.navbar__nav a:active {
  color: var(--orange-text-color);
}

.navbar__buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar__mobile {
  display: none;
  position: relative;
}

.navbar__mobile--hamburger {
  /* position: relative; */
  cursor: pointer;
}

.navbar__mobile--hamburger span {
  display: inline-block;
  /* position: relative; */
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: 0.2s ease;
}

.navbar__mobile--hamburger span::before,
.navbar__mobile--hamburger span::after {
  content: "";
  position: absolute;
  /* width: 100%;
  height: 100%; */
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.navbar__mobile--hamburger span::before {
  transform: translateY(-7px);
  transform: rotate(0);
}

.navbar__mobile--hamburger span::after {
  transform: translateY(7px);
  transform: rotate(0);
}

.navbar__mobile--hamburger.open span {
  background: transparent;
}

.navbar__mobile--hamburger.open span::before {
  transform: rotate(41deg);
}

.navbar__mobile--hamburger.open span::after {
  transform: rotate(-41deg);
}

.navbar__mobile--menu {
  position: absolute;
  right: 0;
  top: 200%;
  background-color: var(--mobile-menu-bg);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.navbar__mobile--menu a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  transition: 0.2s ease;
}

.navbar__mobile--menu a:hover,
.navbar__mobile--menu a:active,
.navbar__mobile--menu a:focus {
  color: var(--blue-text-color);
}

.navbar__mobile--menu .btn {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .navbar__nav {
    gap: 30px;
    font-size: 16px;
  }

  .navbar__buttons {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-top: 40px;
  }

  .navbar__nav,
  .navbar__buttons {
    display: none;
  }

  .navbar__mobile {
    display: block;
  }
}

.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
