@import url("https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0.800;1,100;1,300;1,400;1,500;1,600;1,700;1.800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --main-bg-color: #040c18;
  --footer-bg: #031b34;
  --orange-text-color: #ff8a71;
  --blue-text-color: #81afdd;
  --cyan-text-color: #71e5ff;
  --button-color: #ff4820;
  --mobile-menu-bg: #042c54;
  --blog-bg: #042c54;
  --text-gradient: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --bar-gradient: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  --cta-gradient: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
